.banner {
  padding: 15rem 0 0 0;
  background-image: url("../assets/images/main/blue.jpg");
  background-size: 100% 100%;
  height: 100vh;
}

.banner h1 {
  font-size: 4.3rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  display: block;
  font-style: italic;
}

.banner p {
  font-size: 1.1rem;
  width: 96%;
  margin-top: 1rem;
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: 3.75rem;
  letter-spacing: 0.05rem;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 2rem;
  margin-left: 0.8rem;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 1.5rem;
}

.banner img {
  border-radius: 14rem;
}

@media screen and (max-width: 1200px) {
  .banner {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: top;
    padding-top: 5rem;
  }

  .banner p {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1rem;
    width: 100%;
  }

  .banner img {
    margin-top: 1rem;
  }

  .banner button {
    display: none;
  }

  .banner button svg {
    display: none;
  }
}
