.banner {
  padding: 15rem;
  height: 100vh;
  background-image: url("../assets/images/main/blue.jpg");
  background-position: top;
  background-size: cover;
}

.banner h1 {
  font-size: 4.3rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  display: block;
  /* text-decoration: underline; */
  font-style: italic;
  /* color: #01ffe7; */
  color: #fff;
}

.banner p {
  color: white;
  font-size: 1.1rem;
  width: 96%;
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: 3.75rem;
  letter-spacing: 0.05rem;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 2rem;
  margin-left: 0.8rem;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 1.5rem;
}

.banner img {
  border-radius: 17rem;
}

@media screen and (max-width: 1200px) {
  .banner {
    padding: 5rem;
    height: 83vh;
  }

  .banner h1 {
    font-size: 2.7rem;
  }

  .banner h2 {
    font-size: 1rem;
  }

  .banner p {
    color: white;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1rem;
    width: 100%;
  }

  .banner img {
    margin-top: 3rem;
  }

  .banner button {
    display: none;
  }

  .banner button svg {
    display: none;
  }
}
