.footer {
  padding: 2rem;
  background-color: #000;
}

.footer img {
  width: 26%;
}

.footer p {
  font-weight: 400;
  font-size: 0.7rem;
  color: #b8b8b8;
  letter-spacing: 0.5px;
  margin-top: 1.25rem;
}

.social-icon {
  display: inline-block;
  margin-left: 1rem;
}

.social-icon a {
  width: 3rem;
  height: 3rem;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 0.5rem;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid #b8b8b8;
}

.social-icon a::before {
  content: "";
  width: 3rem;
  height: 3rem;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}

@media screen and (max-width: 540px) {
  .footer h1 {
    text-align: center;
    font-size: 1.5rem;
  }
}
