.project {
  width: 100vw;
  position: relative;
  background-color: #000;
  margin: 10rem 0;
}

.project h2 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.project p {
  color: #b8b8b8;
  font-size: 1rem;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 1rem auto 2rem auto;
  text-align: center;
}

.proj-imgbox {
  position: center;
  overflow: hidden;
  margin-bottom: 2rem;
}

.proj-imgbox img {
  height: 20rem;
  width: auto;
  position: top center;
  size: cover;
  margin: 1rem 0;
}

.proj-text {
  text-align: center;
}

.proj-text h4 {
  text-decoration: underline;
  font-size: 1.9rem;
  font-weight: 700;
}

.proj-text span {
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
}

.proj-text a {
  text-decoration: none;
  font-size: 0.7rem;
  color: white;
  margin: 1rem;
}

.proj-text a:hover {
  color: #fff;
  text-decoration: underline;
}

@media screen and (max-width: 540px) {
  .project {
    margin: 0;
  }

  .project h2 {
    font-size: 2rem;
    text-align: center;
    padding: none;
  }

  .project .projects p {
    font-size: 0.7rem;
    width: 20rem;
  }

  .proj-imgbox {
    width: 100vw;
    text-align: center;
    margin: auto;
  }

  .proj-imgbox,
  .proj-text {
    margin-top: 1rem;
  }

  .projects {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
